* {
    box-sizing: border-box;
  }

html, body {
    height: 100%;
  }

body { 
    margin:0px; 
    padding:0px;
    display: flex;
    flex-direction: column;
 }

 main {
    flex: 1 0 auto;
}

section {
    margin: 0 10px 0 10px;

}

header {
    background-color: black;
    padding: 20px;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, serif;
    color: white;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    flex-shrink: 0;   
}

.headertxt {
    font-size: 0.5em;
}

.subheading {
    font-size: 1em;
    text-align: center;
}




.clearfix::after {
    content:"";
    display:table;
    clear: both;
}